@model IEnumerable<UIUXLayer.Models.ModelClass>
<link rel="stylesheet" href="~/css/viewemployee.css" />
<div class=" =wrapper">

    <div class="EmployeeContainer">
        @foreach (var item in Model)
        {
            <div class="PaddingClass">
                <div class="IndivitualEmployee">
                    <div class="ImageClass">
                        <img class="ProfilePhoto" src="../WIN_20220109_20_20_01_Pro.jpg" alt="Sorry no image found" />
                    </div>
                    <div class="DetailsClass">
                        <div class="NameClass">
                            <a asp-controller="Employee" asp-action="Details" asp-route-username="@item.username">@Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)</a>
                        </div>
                        <div class="ContactDetails">
                            <h5 class="ContactDisplay">@Html.DisplayFor(modelItem => item.address),@Html.DisplayFor(modelItem => item.country)</h5>
                            <h5 class="ContactDisplay">@Html.DisplayFor(modelItem => item.emailId)</h5>
                            <h5 class="ContactDisplay">@Html.DisplayFor(modelItem => item.mobile)</h5>
                        </div>
                        <div class="TypeClass">
                            <b class="ContactDisplay"><TempHeading class="TitleClass">@Html.DisplayNameFor(Model=>Model.gender)</TempHeading></b>
                            <b class="ContactDisplay"><TempHeading class="TitleClass">@Html.DisplayNameFor(Model=>Model.designation)</TempHeading></b>
                            <b class="ContactDisplay"><TempHeading class="TitleClass">@Html.DisplayNameFor(Model=>Model.Salary)</TempHeading></b>
                        </div>
                        <div class="ContactDetails">
                            <h4 class="ContactDisplay">@Html.DisplayFor(modelItem => item.gender)</h4>
                            <h4 class="ContactDisplay">@Html.DisplayFor(modelItem => item.designation)</h4>
                            <h4 class="ContactDisplay">@Html.DisplayFor(modelItem => item.Salary)</h4>
                        </div>
                    </div>
                </div>
            </div>
             
        }
        
    </div>
</div>
<div class="TableClass">

</div>